* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #ededed;
  --color-secondary: #c2caca88;
  --color-modal: #ededed;
  --color-title: #212529;
  --color-blue: #bdd8eb;
  --color-dark: #25282d;
  --color-btnInfo: #5e8fe6cc;
}

.dark {
  --color-primary: #212529;
  --color-secondary: #c2caca88;
  --color-modal: #414952;
  --color-title: #bfd0e6;
  --color-blue: #8eb3d099;
  --color-dark: #25282d;
  --color-btnInfo: #618edc;
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-title);
  height: 100%;
  min-height: 100vh;
  padding-bottom: 3rem;
  font-family: "Signika Negative", sans-serif;
}
.App .btn-info {
  background-color: var(--color-btnInfo);
}

.container-full {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

.register,
.login {
  background-color: var(--color-primary);
  color: var(--color-title);
}

.set-modal .modal-content,
.modalForm {
  background-color: var(--color-modal);
  color: var(--color-title);
}
.set-modal .modal-content .form-control,
.set-modal .modal-content .form-select,
.modalForm .form-control,
.modalForm .form-select {
  background-color: var(--color-modal);
  color: var(--color-title);
}
.set-modal .modal-content .form-control:not(:-moz-placeholder-shown) ~ label::after, .modalForm .form-control:not(:-moz-placeholder-shown) ~ label::after {
  background-color: var(--color-secondary);
}
.set-modal .modal-content .form-control:not(:placeholder-shown) ~ label::after,
.set-modal .modal-content .form-control ~ label::after,
.modalForm .form-control:not(:placeholder-shown) ~ label::after,
.modalForm .form-control ~ label::after {
  background-color: var(--color-secondary);
}
.set-modal .modal-content .form-control:not(:-moz-placeholder-shown) ~ label, .set-modal .modal-content .form-control:-moz-placeholder-shown ~ label, .modalForm .form-control:not(:-moz-placeholder-shown) ~ label, .modalForm .form-control:-moz-placeholder-shown ~ label {
  color: var(--color-title);
}
.set-modal .modal-content .form-control:not(:placeholder-shown) ~ label,
.set-modal .modal-content .form-control:placeholder-shown ~ label,
.modalForm .form-control:not(:placeholder-shown) ~ label,
.modalForm .form-control:placeholder-shown ~ label {
  color: var(--color-title);
}
.set-modal .modal-content .form-select:not(:-moz-placeholder-shown) ~ label::after, .modalForm .form-select:not(:-moz-placeholder-shown) ~ label::after {
  background-color: var(--color-secondary);
}
.set-modal .modal-content .form-select:not(:placeholder-shown) ~ label::after,
.set-modal .modal-content .form-select ~ label::after,
.modalForm .form-select:not(:placeholder-shown) ~ label::after,
.modalForm .form-select ~ label::after {
  background-color: var(--color-secondary);
}
.set-modal .modal-content .form-select:not(:-moz-placeholder-shown) ~ label, .set-modal .modal-content .form-select:-moz-placeholder-shown ~ label, .modalForm .form-select:not(:-moz-placeholder-shown) ~ label, .modalForm .form-select:-moz-placeholder-shown ~ label {
  color: var(--color-title);
}
.set-modal .modal-content .form-select:not(:placeholder-shown) ~ label,
.set-modal .modal-content .form-select:placeholder-shown ~ label,
.modalForm .form-select:not(:placeholder-shown) ~ label,
.modalForm .form-select:placeholder-shown ~ label {
  color: var(--color-title);
}

.elementry {
  background-color: #FEE8CE;
  color: black;
}

.middle {
  background-color: #D3F9D7;
  color: black;
}

.high {
  background-color: #D7E0F1;
  color: black;
}

.passIcon {
  position: absolute;
  right: 10px;
  bottom: 4px;
  top: 12px;
}

.google_btn {
  width: 200px;
  height: 35px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 20px 0;
  color: #2c444e;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.google_btn > img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.google_btn > span {
  margin-left: 10px;
}

.container-carousel {
  position: relative;
  top: -30px;
  z-index: 1;
}
.container-carousel .carousel {
  max-height: 860px;
}
.container-carousel .carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
}
.container-carousel .carousel-img {
  width: 100%;
  max-height: 860px;
  filter: brightness(80%);
}
.container-carousel .carousel-caption {
  margin-bottom: 10%;
  max-width: 40em;
  left: 50px;
}
.container-carousel .carousel-caption h1 {
  position: absolute;
  font-size: 60px;
}
.container-carousel p {
  font-size: 20px;
}

.caption {
  position: absolute;
  text-align: left;
  margin-bottom: 10%;
  max-width: 40em;
  color: white;
  left: 100px;
  top: 200px;
  z-index: 2;
}
.caption h1 {
  font-size: 60px;
}
.caption p {
  font-size: 20px;
}

nav {
  opacity: 1 !important;
  background-color: rgba(219, 219, 219, 0.1607843137);
  z-index: 10;
}
nav form {
  background-color: rgba(219, 219, 219, 0.1607843137);
}

.profileImg {
  cursor: pointer;
}
.profileImg :hover {
  opacity: 0.3;
}

.items-counter {
  color: var(--text);
  background: rgba(255, 174, 0, 0.527);
  font-size: 0.7rem;
  width: 0.7rem;
  height: 1rem;
  top: -35px;
  right: -12px;
  border-radius: 50%;
}

.product-card {
  padding-top: 10px;
  padding-bottom: 10px;
}
.product-card .btn {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.product-card .btn:hover {
  transform: scale(1.1);
}

.card {
  filter: drop-shadow(10px 7px 9px #838282);
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.cardImgDiv {
  overflow: hidden;
}
.cardImgDiv .cardImg {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.cardImgDiv .cardImg:hover {
  transform: scale(1.1);
}

.paging-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paging-container .pagination .page-link {
  color: var(--text);
  background-color: var(--color-secondary);
}

.paging-container .pagination .page-item.active .page-link {
  background-color: var(--color-btnInfo);
  border-color: gainsboro;
  color: var(--text);
}

.filter,
.sort,
.view {
  color: var(--color-title);
}

.filter:hover,
.sort:hover,
.view:hover {
  color: var(--color-blue);
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-title {
  font-family: var(--text-font);
  font-weight: bold;
  text-align: center;
}

.price {
  font-weight: bold;
  text-align: start;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.category img {
  cursor: pointer;
  filter: drop-shadow(10px 7px 9px #838282);
}

.cardIcons {
  position: absolute;
  right: 10%;
  width: 80%;
  bottom: 10px;
}
.cardIcons i {
  transition: transform 0.2s ease-in-out;
  font-size: 1.2rem;
}
.cardIcons i:hover {
  transform: scale(1.5);
}

.categoryTransfer {
  font-weight: bold;
  color: var(--color-title);
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  border-radius: 120px 120px/120px 120px;
  border: 3px solid;
  width: 50%;
}

table td,
table th {
  background-color: var(--color-primary) !important;
}
table .fa-trash-can {
  font-size: 14px;
}
table i {
  color: var(--color-title);
}

.ship {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ship .form-floating {
  color: var(--color-dark);
}

.search-result {
  position: absolute;
  top: 95px;
  left: 5px;
  right: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
  margin-left: auto;
  background: var(--color-secondary);
  border: 1px solid var(--color-title);
  border-radius: 5px;
  box-shadow: 0px 2px 2px;
  z-index: 11;
  padding: 10px;
}
.search-result .result-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid var(--color-title);
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: var(--color-modal);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.search-result .result-item:hover {
  transform: scale(1.1);
}
.search-result .result-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-result .img img {
  height: 88px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
  margin-bottom: 5px;
  border: 1px solid var(--color-title);
  border-radius: 10px;
  filter: var(--product-shadow);
}
.search-result .product-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.search-result .product-info h5 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.3px;
}
.search-result .btn-container {
  margin-left: auto;
}
.search-result .search-addToCart-btn {
  font-size: 0.7rem;
  color: var(--text);
  background-color: var(--button);
  border-color: var(--button);
  font-family: var(--text-font);
  width: 100%;
}
.search-result .search-addToCart-btn:hover {
  background-color: var(--button-hover);
  border-color: var(--button-hover);
  color: var(--text);
}
.search-result .search-addToCart-btn:focus,
.search-result .search-addToCart-btn:active {
  outline: none;
  background-color: var(--button-hover) !important;
  border-color: var(--button-hover) !important;
  color: var(--text);
}

.second-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  margin-top: 15px;
}

.form-group {
  position: relative;
  display: inline-block;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text);
}

.fa-magnifying-glass {
  cursor: pointer;
}

@media (max-width: 768px) {
  .search-result {
    grid-template-columns: 1fr;
    width: 100%;
    margin-left: 0;
  }
  .form-control {
    width: 100px;
  }
}
.productImg {
  width: 150px;
  margin-top: 80px;
  border-color: var(--color-secondary);
}

.productInfo {
  margin-top: 100px;
  line-height: 4;
}
.productInfo i {
  color: var(--color-title);
}
.productInfo .text-danger i {
  color: #DC3545;
}

.productContent {
  margin-top: 40px;
}

.productDescription {
  margin-top: 30px;
  margin-left: 20px;
  text-align: justify;
  line-height: 2;
}

.productDescription p {
  margin-right: 30px;
}

.productDescTitle {
  font-weight: bold;
}

.productImages .container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.productImages .left_1 {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.productImages .img_wrap {
  cursor: pointer;
}
.productImages .img_wrap img {
  width: 70px;
  height: 70px;
}
.productImages .left_2 img {
  border: 2px solid var(--color-title);
}
.productImages .active {
  border: 2px solid var(--color-title);
}/*# sourceMappingURL=App.css.map */