@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css";
@import 'react-credit-cards-2/dist/es/styles-compiled.css';


/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.container-register {
  margin-left: 40px;
  margin-right: 40px;
}





/* .search-btn {
  border-radius: 100px;
} */


/* 
.homeBanner {
  margin-top: 10px;
 
  width: 90vw;
  box-shadow: 5px 5px 5px #e1ded8;
} */


/* .category-btn {
  width: 20vw;
  margin-top: 20px;
} */

/* .categoriesBtns {
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
} */



/* .warning {
  font-size: 11px;
  color: var(--text);
} */

/* hr {
  color: var(--text);
} */