.background-container {
    background-image: linear-gradient(#FDB298, #b176fe);
    width: 100%;
    height: 500px;
}

.calendar-container {
    width: 55%;
    margin: auto;
    position: relative;
    top: -500px;
    padding: 200px;
}

.weekdays-container {
    display: flex;
    margin: auto;
    justify-content: space-between;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
}

.weekdays-container .week-day {
    color: #808080;
}

.calendar {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .week {
        display: inline-flex;
        align-items: flex-start;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        background: white;

        .date {
            width: 39px;
            height: 100%;
            padding: 10px;
            display: flex;
            justify-content: flex-start;
            align-content: flex-start;
        }
    }

    button {
        background: white;
        border: none;
    }

    .today {
        background-color: #76b1ce;
        color: white;
        border-radius: 5px;
        filter: drop-shadow(2px 2px 2px #9bcce4);

    }

    .selected {

        border-radius: 5px;
        filter: drop-shadow(2px 2px 2px #9bcce4);
    }
}