.productImg {
    width: 150px;
    margin-top: 80px;
    // margin-left: 40px;
}

.productInfo {
    margin-top: 100px;
    line-height: 4;
}

.productContent {
    margin-top: 40px;
    // box-shadow: 5px 5px 5px 5px black;
    // border-radius: 5px;
}

.productDescription {
    margin-top: 30px;
    margin-left: 20px;
    text-align: justify;
    line-height: 2;
}

.productDescription p {
    margin-right: 30px;
}

.productDescTitle {
    font-weight: bold;
}

.backBtn {
    margin-top: 20px;
    margin-right: 20px;
}