// .ship {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;

//     .form-floating {
//         color: var(--color-dark);
//     }
// }

.ship {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ship .form-floating {
    color: var(--color-dark);
}