.teacherPage {
    margin-top: 5rem;

    .image {
        max-width: 200px;
        max-height: 200px;
        padding-left: 3.5rem;

    }


    p {
        text-align: justify;
        // max-width: 25%;
    }





    // .nameAndRating {
    //     margin-top: 50px;
    //     max-width: 200px;
    //     max-height: 200px;
    //     padding: 10px;
    // }

    // .teacherRating {
    //     min-width: 20rem;
    //     padding-top: 150px;
    // }

}